.qa-done-render{
  background-color: #fff;
  color: #F9B037;
  border: 1px solid  #F9B037;
}
.qa-condition--had-answer {
  background-color: #fca419;
  color: #fff;
  font-weight: bold;
}
.liked,.seen{
  color: rgb(63, 63, 63);
}
