.qaSide1.qaSide1.qaSide1.qaSide1.qaSide1.qaSide1{
  padding-left: 30px;
  width: 60px;
}
.qa_title.qa_title.qa_title.qa_title.qa_title.qa_title{
  margin-top: 20px;
  margin-bottom: 20px;
}
.qaMarkDown1.qaMarkDown1.qaMarkDown1.qaMarkDown1.qaMarkDown1.qaMarkDown1{
  padding-right: 50px;
}
.qaContent1.qaContent1.qaContent1.qaContent1.qaContent1.qaContent1{
  margin-bottom: 20px;
}
.content .leftSide .qaPanel .qaContent .qaMarkDown p{
  text-indent: inherit;
}